<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8"/>
    <title>MainPage</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Hello World</h1>
    </div>
    <script>
        $.ajax({
            url: '/json',
            type: 'GET',
            dataType: 'json'
        }).done(function( data, textStatus, jqXHR ) {
            //成功
            console.log(data)
        }).fail(function( jqXHR, textStatus, errorThrown) {
            //失敗
            console.log(errorThrown)
        }).always(function( jqXHR, textStatus) {
            //通信完了
        });
    </script>
</body>
</html>